# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User-specific Xcode settings
xcuserdata/
*.moved-aside
*.xcuserdatad

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives
*.xcarchive

# iOS specific
*.ipa
*.dSYM.zip
*.dSYM

# Simulator
*.simdevicetype
*.simruntime
*.simdevice

# Misc
*.swp
*.lock
*.DS_Store
